html,body{
    width:50%;

    margin: 0 auto;
    font-family: Arial, Helvetica,sans-serif;
}
.container{
    width:400px;

}
.box{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: lightblue;
}
#inputField{
    width: 320px;
    height: 46px;
    border-width: 0;
    border:1px solid black;
    font-family: 'Poppins',sans-serif;

    outline: none;
    font-size: 25px;
    vertical-align: middle;
}
#addToDo{
    height: 50px;
    width: 50px;
    border:1px solid black;
    vertical-align: middle;
    font-size: 15px;
    padding: 10px 10px;
    background-color: #00b0ff;
    border-radius: 4px;
    color:white;

}
.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

.to-dos{
    margin-top: 25px;
}
.styling{
    font-weight: 800;
    color:#00b0ff;
    text-align: middle;

}